<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Eternal Families</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
</head>
<body>

	<div class="container">
	
		<h1>Events</h1>
		
		<hr>
		
		<h2>Save Event</h2>
		
		<form action="#" th:action="@{/saveEvent}" th:object="${event}"
			method="POST">
			
			<input type="text" th:field="*{eventName}"
				placeholder="Event Name" class="form-control mb-4" required>
				
			<input type="text" th:field="*{eventLocation}"
				placeholder="Event Location" class="form-control mb-4" required>
				
			<input type="text" th:field="*{eventDescription}" placeholder="Event Description"
				class="form-control mb-4" required>
				
			<button type="submit" class="btn btn-info col-2">Save Event</button>
		</form>
		
		<hr>
		
		<a th:href="@{/events}" class="btn btn-outline-secondary">Back to Event List</a>
		
	</div>
</body>
</html>